<%= link_to("<< Back to List", {:action => 'index'}) %>
<h2> Edit User</h2>


<%= form_for @users, :url => {:action => 'update', :id => @users.id} do |f| %>

	<table>
		<tr>
			<th><%= f.label :firstname%></th>
			<td><%= f.text_field :firstname  %></td>
		</tr>
		<tr>
			<th><%= f.label :lastname%></th>
			<td><%= f.text_field :lastname  %></td>
		</tr>
		<tr>
			<th><%= f.label :age%></th>
			<td><%= f.text_field :age  %></td>
		</tr>
		<tr>
			<th><%= f.label :email%></th>
			<td><%= f.text_field :email  %></td>
		</tr>
		<tr>
			<th><%= f.label :favoritefood%> </th>
			<td><%= f.text_field :favoritefood %></td>
		</tr>
	</table>

	<%= submit_tag("Update User") %>
<% end %>
	